@font-face {
  font-family: sourcesanspro-regular;
  src:url(../fuentes/Source_Sans_Pro/SourceSansPro-Regular.ttf);
}

@font-face {
  font-family: quattrocento-regular;
  src:url(../fuentes/Quattrocento/Quattrocento-Regular.ttf);
}
@font-face {
  font-family: quattrocento-bold;
  src:url(../fuentes/Quattrocento/Quattrocento-Bold.ttf);
}
