.container {
  display: block;
  width: 100%;
  margin: 0rem auto;
}

.container { max-width: 940px; }


.item {
  display: block;
  background-color: #222;
  color: rgb(172, 202, 215);
}


.dos { width: 16.666666666666667%; }

.tres { width: 25%; }

.cuatro {width: 33.333333333333333%;}

.seis {width: 50%;}

.ocho { width: 66.666666666666667%; }

.nueve { width: 75%; }

.doce {width: 100%;}


/*
.c11 { width: 91.66666666666667%; }

.c10 { width: 83.333333333333333%; }

.c9 { width: 75%; }

.c8 { width: 66.666666666666667%; }

.c7 { width: 58,333333333333333%; }

.c6 { width: 50%; }

.c5 { width: 41.666666666666667%; }

.c4 { width: 33.333333333333333%; }

.c3 { width: 25%; }

.c2 { width: 16.666666666666667%; }

.c1 { width: 8.333333333333333%; }
*/
