/*INLINE-BLOCK-------------------------------------------------*/
.i-block {display: inline-block;}
.f0 {font-size: 0;}
.v-top {vertical-align: top;}
.v-bline {vertical-align: baseline;}
.v-middle {vertical-align: middle;}
.v-bottom {vertical-align: bottom;}

/*FLOATING-----------------------------------------------------*/
.floatl {float: left;}
.floatr {float: right;}

.clear, .clear::after, .clear::before {clear: both;}
.clear, .clear::after, .clear::before {
  content: "";
  display: block;
}

/*TABLE-------------------------------------------------------*/
.tablex {display: table;}
.cell {display: table-cell;}
