html {
  background: #1A1A1A;
}

/*HEADER------------------------------------------------------- */
header {
  width: 100%;
  margin-bottom: 1.5rem;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#feffff+0,bfbfbf+100 */
  background: #feffff; /* Old browsers */
  background: -moz-linear-gradient(top, #feffff 0%, #bfbfbf 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #feffff 0%,#bfbfbf 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #feffff 0%,#bfbfbf 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#bfbfbf',GradientType=0 ); /* IE6-9 */

  box-shadow: 0px 5px 10px #000;
  -moz-box-shadow: 0px 5px 10px #000;
  -webkit-box-shadow: 0px 5px 10px #000;
}

#logo {
  padding: 10px 0px;
}

#menu {
  padding: 40px 0px;
}

#menu ul li {
  display: inline;
  font-family: sourcesanspro-regular;
}

#menu ul li a {
  color: #000;
  font-size: 23px;
  padding: 5px 10px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    text-decoration: none;
}

#menu ul li a:hover {
  background: #E15D35;
  /*border: 2px solid #000;*/
  text-decoration: none;
}

/*SLIDESHOW------------------------------------------------------- */
#slideshow {
  position: relative;
  height: 17rem;
  background-color: #000;
  border: 1rem solid rgb(184, 184, 184);
  box-sizing: border-box;
  margin-bottom: 3.5rem;
}

/*BIENVENIDOS------------------------------------------------------- */
#bienvenidos {
  height: 19rem;
  background-color: #000;
  box-sizing: border-box;
  margin-bottom: 1.5rem;
  background: #24CD94;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  box-shadow: 3px 3px 10px #000,
              -3px -3px 10px #000;
  -moz-box-shadow: 3px 3px 10px #000,
              -3px -3px 10px #000;
  -webkit-box-shadow: 3px 3px 10px #000,
              -3px -3px 10px #000;
}

#bienvenidos article {
  margin: 30px 0px 0px 40px;
  padding-top: 0.4rem;
}

#bienvenidos article hgroup h1{
  color: #002359;
}

#bienvenidos article hgroup img {
  float: left;
  padding-right: 10px;
}

#bienvenidos article ul {
  margin-left: 15px;
}

#bienvenidos article p {
  margin: 0px 70px 0px 38px;
}

/*ARTICULOS------------------------------------------------------- */
#articulos {
  width: 700px;
  float: left;
}

#articulos article {
  float: left;
}



#articulos {
  width: 660px;
  float: left;
  margin: 20px 20px 0px 0px;
}

.titulo{
  font-size: 20px;
  color: #E6E6E6;
  clear: both;
}

.fecha {
  font-size: 14px;
  color: #E15D35;
}

.extracto {
  font-size: 13px;
  color: #808080;
  text-align: justify;
}

.funcional {
  float: left;
  padding-right: 10px;
}


#main aside {
  width: 240px;
  background-color: #248FD0;
  float: left;
  margin-top: 40px;
  padding: 10px;
  border-radius: 10px;
  -mox-border-radius: 10px;
  -webkit-border-radius: 10px;
  box-shadow: 3px 3px 5px #000,
              -3px -3px 5px #000;
  -moz-box-shadow: 3px 3px 5px #000,
              -3px -3px 5px #000;
  -webkit-box-shadow: 3px 3px 5px #000,
              -3px -3px 5px #000;
  text-align: center;
}

#main aside section ul li {
  font-size: 11px;
  padding: 6.5px 0px;
  text-align: left;
}

#master {
  margin-bottom: 30px;
}

/*FOOTER--------------------------------------------------------*/
#quienes-somos {
  padding: 10px;
  width: 600px;
  box-sizing: border-box;
}

footer #social-red div {
  padding: 16.4px;
  border-left: 1px solid rgb(196, 196, 196);
}

footer #social-red div a {
  text-decoration: none;
  color: rgb(149, 252, 206);
}

#social-red {
  width: 340px;
}

#copyright {
  color: rgb(205, 205, 205);
  text-align: center;
}
